@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300&display=swap");
:root {
  background-color: #14213d;
  margin: 5% 15%;
  font-family: "Rubik", sans-serif;
}
.header {
  background-color: #fca311;
  padding: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  background-color: #fca311;
  max-height: 60px;
  justify-content: center;
  align-items: center;
}
.user a:visited {
  color: black;
}
.foto-perfil {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}
.task-container {
  background-color: #e5e5e5;
  padding: 30px 0;
}
.task {
  display: flex;
  background-color: #fff;
  padding: 5px 0;
  margin: 10px 15%;
  border-radius: 5px;
}
.task:hover {
  background-color: #c9c7c7;
  font-weight: 400;
}
.checkbox {
  margin-left: 15px;
  margin-right: 40px;
}
